@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&family=Roboto+Slab:wght@300&display=swap');


.home-title {
    font-family: 'Noto Serif', 'Roboto Slab', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
      
#content{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #e4eeed; 
}

#logo_link {
    padding-bottom: 0px;
    justify-self: center;
    align-self: center;
}

.logo{
    border-radius: 500px;
    margin-left: 100px;;
}

.home-title {
    font-family: 'Noto Serif', 'Roboto Slab';
    font-size: 2em;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    background-color: rgb(20, 173, 153);
    color: black;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

nav a{
    text-align: center;
    text-decoration: none;
    color: black;

}

nav a:hover {
    background-color: white;
    color: rgb(32, 167, 149);
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -25px; 
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 35px; 
    text-align: center;
    color: rgb(20, 173, 153);
}

#hero-msg h4{
    text-align: center;
}

body {
    background-color: rgb(20, 173, 153);
    font-family: 'Roboto Slab', 'Noto Serif';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.initaldog{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.touchingstories{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.touchingstories h3{
    grid-column: 4;
    width:1px;
    margin-left: 50px;
    word-wrap: break-word;
    font-family: monospace; 
    white-space: pre-wrap;
}

.page1, .step1{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.page2, .step3, .page3, .step4{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.step3{
    color: black;
    font-style: italic;
    grid-column: 2/4;
    grid-row: 2;
    text-align: left;
}

.step3 h2, .step4 h2{
    text-align: center;
    font-size: 25px;
}

.step4{
    color: black;
    font-style: italic;
    grid-column: 5/8;
    text-align: left;
    justify-content: right;
}

.page2{
    grid-column: 2/4;
    height: 350px;
    width: 500px;
    margin-top: 100px;
    grid-row: 1;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #6f7364;
}

.page3{
    grid-column: 5/8;
    height: 350px;
    width: 500px;
    margin-top: 100px;
    grid-row: 1;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #6f7364;
}

.page1{
    grid-column: 2/5;
    height: 450px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px #6f7364;
}

.step1{
    background-color: #51a887e3;
    color: black;
    padding: 40px;
    grid-column: 5/8;
    height: 300px;
    margin-top: 29px;
    text-align: center;
    border: 20px;
    box-shadow: 5px 5px 10px #6f7364;
}

.step2{
    grid-column: 2/8;
    margin-top: 100px;
    text-align: center;
}

footer{
    background-color: rgb(20, 173, 153);
    padding: 25px 50px;
    margin-top: 100px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img{
    padding-top: 15px;
    margin-top: 5px;
}

footer a{
    text-decoration: none;
}

footer h3 a:hover{
    text-decoration: underline;
}

