
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Mukta&display=swap');


.home-title {
    font-family: 'Mukta', 'Barlow', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
      

#content{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fcfbfb; 
}

#background {
    height: 725px;
    background-color: #aec9ae27;
}

header {
    background-color: rgb(120, 153, 123);
    color: #d9c2a3
}

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand';
    font-size: 2em;
}

nav a{
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: black;
    color: #526fc04b
}

main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

body {
    background-color: #7ac0d1;
    font-family: 'Bradley Hand', 'Rock Salt';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}
     
footer{
    background-color: rgb(120, 153, 123);
    padding: 25px 50px;
}

footer .social img{
    padding-top: 15px;
    margin-top: 5px;
}

footer a{
    text-decoration: none;
}

footer h3 a:hover{
    text-decoration: underline;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;

}

.card-img{
    border: 10px solid black;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
    padding-top: 5px;
    margin-top: 50px;
}

.button-box {
    text-align: center;
}
    
#hero-img{
    width: 100%;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}

.join{
    background-color: #91c5f3;
    margin-top: 50px;
    border-radius: 5px;
    padding: 15px 30px;
}

.join:hover{
    background-color: #FE8D85;
    color: #d9c2a3
}

.book{
    background-color: #91c5f3;
    padding: 15px 30px;
    border-radius: 5px;
}

.book:hover{
    background-color: #FE8D85;
    color: #d9c2a3;
}

.msg {
    background-color: #5f71752f;
    color: #0a10314b;
    padding: 35px;
}

.msg p{
    padding-bottom: 15px;
}
